<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">

    <h3>Main Dashboard</h3>
    <hr>
    <h4>Current Projects</h4>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Project Stage</th>
                    <th>Project Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="projectStageCount : ${projectListStageCount}">
                    <td th:text="${projectStageCount.getLabel()}"/>
                    <td th:text="${projectStageCount.getValue()}"/>
                </tr>

                </tbody>

            </table>
        </div>


        <div class="col-md-4">
            <canvas id="myPieChart" height="50" width="50"></canvas>

        </div>
    </div>
</div>

<div class="container">
    <h4>Current Employees</h4>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Employee First Name</th>
                    <th>Employee Last Name</th>
                    <th>Employee Project Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employeeProjectCount : ${employeeListProjectCount}">
                    <td th:text="${employeeProjectCount.firstName}"/>
                    <td th:text="${employeeProjectCount.lastName}"/>
                    <td th:text="${employeeProjectCount.projectCount}"/>
                </tr>

                </tbody>

            </table>
        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{js/myChart.js}"></script>

</body>
</html>