<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div>
    <h4>Current Projects</h4>
    <table>
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectList}">
            <td th:text="${project.name}"/>
            <td th:text="${project.stage}"/>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <h4>Current Employees</h4>
    <table>
        <thead>
        <tr>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Employee Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.firstName}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.email}"/>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <canvas id="myPieChart" height="50" width="50"></canvas>

</div>

<script type="text/javascript" th:src="@{js/myChart.js}"></script>

</body>
</html>