<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <h3>Employee Directory</h3>
    <hr>

    <!-- Add New Employee Button -->
    <a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Employee Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.firstName}"/>
            <td th:text="${employee.lastName}"/>
            <td th:text="${employee.email}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>